<%= form_with(model: product, class: "flex flex-col") do |form| %>
  <% if product.errors.any? %>
    <div class="text-red-500">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>    
    </div>
  <% end %>  
  <div>
    <%= form.label :name, class: "block mb-2" %>
    <%= form.text_field :name, class: "w-full rounded-md" %>
    <div class="text-red-500">
      <% product.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  </div> 

  <div class="mt-6">
    <%= form.label :price, class: "block mb-2" %>
    <%= form.text_field :price, class: "w-full rounded-md" %>
    <div class="text-red-500">
    <% product.errors.full_messages_for(:price).each do |message| %>
      <div><%= message %></div>
    <% end %>
    </div>
  </div>

  <div class="mt-6">
    <%= form.label :description, class: "block mb-2" %>
    <%= form.text_field :description, class: "w-full rounded-md" %>
    <div class="text-red-500">
    <% product.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
    </div>
  </div>

  <div class="mt-8 flex justify-between items-center">
    <div class="max-w-max underline">
      <%= link_to "Back", products_path %>
    </div>
    <div class="p-2 border border-gray-500 rounded-md">
      <%= form.submit %>
    </div>
  </div>
<% end %>