<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div class="text-red-500">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>    
    </div>
  <% end %>  
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
    <div class="text-red-500">
      <% product.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  </div>  
  <div class="mt-2">
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
    <div class="text-red-500">
    <% product.errors.full_messages_for(:price).each do |message| %>
      <div><%= message %></div>
    <% end %>
    </div>
  </div>  
  <div class="mt-2">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
    <div class="text-red-500">
    <% product.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
    </div>
  </div>  
  <div class="max-w-max mt-4 p-2 border border-gray-500 rounded-lg">
    <%= form.submit %>
  </div>
<% end %>