<div class="w-[720px] mx-auto">
  <div class="flex items-center mb-6">
    <h1 class="text-2xl font-medium text-blue-500">Products</h1>
    <div class="ml-auto"><%= link_to "New product", new_product_path %></div>
  </div>

  <div>
    <% @products.each do |product| %>
      <%= form_with model: Order.new, url: orders_path, method: 'POST' do |f| %>
        <div class="grid grid-cols-[120px_200px_80px_80px_1fr] items-center gap-x-4 mb-4 pb-4 border-b rounded-lg">
          <div><%= link_to product.name, product %></div>
          <div><%= product.description%></div>
          <div><%= product.price%></div>
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.number_field :amount, value: 1, class:"w-20 rounded-md" %>
          <%= f.submit "Buy" , class: "ml-auto px-5 py-1.5 font-medium border border-gray-500 rounded-md" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>